includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    excludePaths:
        - packages/automaticko/currency-exchange-rate/vendor
        - packages/automaticko/pet-shop-stripe/vendor
        - packages/automaticko/orders-state-machine/vendor

    level: 8

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
